## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 6
---------------------------------------

GOALS:

1. Answer all the questions from the lecture.
2. Practice wrangling data - doing more advanced code
3. Complete your first more advanced Exploration/Exercise

----------------------------------------------------------

This homework has **4 Questions** and **7 Exercises**

NOTE:
Exercises will tend to be an analysis of a single piece of data where one exercise builds on the next.

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [3]:
file_location = 'https://joannabieri.com/introdatascience/data/hotels.csv'
DF_raw_hotels = pd.read_csv(file_location)

In [4]:
show(DF_raw_hotels)

In [5]:
# I always look at the column names - they have to be spelled exactly!
columns_list = list(DF_raw_hotels.keys())
print(columns_list)

['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

### Example of Combining Masks

* Show only results for visitors from USA or GBR.

In [7]:
mask = (DF_raw_hotels['country']=='USA') | (DF_raw_hotels['country']=='GBR')
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119358,City Hotel,0,135,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,143.10,0,1,Check-Out,2017-09-04
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,No Deposit,14.0,NaN,0,Transient,96.25,0,2,Check-Out,2017-09-04
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,0,Check-Out,2017-09-04
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,2017-09-04
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07

## Example Finding unique values

In [9]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].drop_duplicates()

       market_segment    customer_type
0              Direct        Transient
3           Corporate        Transient
4           Online TA        Transient
9       Offline TA/TO        Transient
16      Offline TA/TO         Contract
47      Offline TA/TO  Transient-Party
125     Complementary        Transient
127         Online TA  Transient-Party
260            Direct  Transient-Party
413            Groups  Transient-Party
417            Groups        Transient
539         Online TA            Group
1530        Corporate  Transient-Party
1539           Direct            Group
1587    Offline TA/TO            Group
2262        Corporate         Contract
2263           Direct         Contract
2698           Groups         Contract
9511    Complementary  Transient-Party
14051   Complementary            Group
14654          Groups            Group
15141       Corporate            Group
15261   Complementary         Contract
15506       Online TA         Contract
40600       Undefined  Transient-Party
49013        Aviation  Transient-Party
49372        Aviation        Transient
112102       Aviation            Group

## Example Counting unique values

In [11]:
my_columns = ['market_segment']
DF_raw_hotels[my_columns].value_counts()

market_segment
Online TA         56477
Offline TA/TO     24219
Groups            19811
Direct            12606
Corporate          5295
Complementary       743
Aviation            237
Undefined             2
Name: count, dtype: int64

## Example of Counting unique values in two columns - unsorted

In [13]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].value_counts(sort=False)

market_segment  customer_type
Aviation        Group                  2
                Transient            218
                Transient-Party       17
Complementary   Contract               2
                Group                  6
                Transient            703
                Transient-Party       32
Corporate       Contract              22
                Group                 29
                Transient           3576
                Transient-Party     1668
Direct          Contract              14
                Group                134
                Transient          11336
                Transient-Party     1122
Groups          Contract             735
                Group                 16
                Transient           8427
                Transient-Party    10633
Offline TA/TO   Contract            1817
                Group                211
                Transient          14054
                Transient-Party     8137
Online TA       Contract            1486
                Group                179
                Transient          51299
                Transient-Party     3513
Undefined       Transient-Party        2
Name: count, dtype: int64

## Example of Saving Unique Values to a Data Frame

Just add the command **.reset_index().rename(columns={"index": "value", 0: "count"})**. In this class

In [15]:
my_columns = ['market_segment','customer_type']
my_counts = DF_raw_hotels[my_columns].value_counts()
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
show(my_counts)

## Example of Adding a column to a Data Frame

In [17]:
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
DF_raw_hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,little_ones
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,0.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,0.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,0.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,0.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,0.0

**Q1** Count up the number of little_ones in different hotel types (Hint - use value_counts() with hotel and little_ones as your columns.)

In [19]:
# Your code here:
my_columns = ['hotel', 'little_ones']
DF_raw_hotels[my_columns].value_counts()

hotel         little_ones
City Hotel    0.0            73923
Resort Hotel  0.0            36131
City Hotel    1.0             3263
Resort Hotel  1.0             2183
City Hotel    2.0             2056
Resort Hotel  2.0             1716
City Hotel    3.0               82
Resort Hotel  3.0               29
City Hotel    9.0                1
              10.0               1
Resort Hotel  10.0               1
Name: count, dtype: int64

**Q2** Add a new column that calculates the total number of humans (all_humans) in the room (adults+children+babies) (Hint - you can copy and paste the code above where we calculated little_ones and add on another thing)

In [21]:
# Your code here
DF_raw_hotels['humans'] = DF_raw_hotels['children'] + DF_raw_hotels['babies'] + DF_raw_hotels['adults']
DF_raw_hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,little_ones,humans
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0,1.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,0.0,2.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,0.0,3.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,0.0,2.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,0.0,2.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,0.0,2.0

**Q3** Can you figure out what the code below is doing - comment on each line -- remember you can add a comment using the hashtag #

In [23]:
# PLEASE ADD YOUR COMMENTS!
# Defines new column labelled 'little_ones' as the sum of columns 'children' and 'babies'
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
# Defines my_columns as columns 'hotel' and 'little_ones'
my_columns = ['hotel','little_ones']
# Defines my_counts as the dataframe focused on the frequency of observations in columns 'hotel' and 'little_ones' 
my_counts = DF_raw_hotels[my_columns].value_counts()
# Saves the value counts under a new dataframe called my_counts
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
# Defines new column labelled 'proportion' as the quotient of 'count' divided by 'count'
my_counts['proportion']=my_counts['count']/sum(my_counts['count'])

## Example of Grouping the data frame into chunks

In [25]:
my_columns = ['adults','children','little_ones','babies']
DF_raw_hotels.groupby(by=['hotel'])[my_columns].sum()

              adults  children  little_ones  babies
hotel
City Hotel    146838    7248.0       7640.0     392
Resort Hotel   74798    5155.0       5712.0     557

There are lots of different operaitons you could use:

* .min()
* .max()
* .mean()
* .median()
* .sum()
* .prod()
* .count()
* .describe()

Here we see that .describe() does all the descriptive statistics for each of columns, broken into the two groups. 

## Example of Grouping to quickly generate data

The .groupby() function lets you quickly generate data about things you care about. In just one command below we are able to look at the total number of occupants for each of the columns (adults, children, little_ones, and babies) for each month in the data set.

In [28]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].sum()

                    adults  children  little_ones  babies
arrival_date_month
April                20806    1141.0       1194.0      53
August               27795    2780.0       2976.0     196
December             12382     736.0        814.0      78
February             14450     790.0        849.0      59
January              10024     452.0        500.0      48
July                 25164    2322.0       2443.0     121
June                 20353    1057.0       1128.0      71
March                17675     700.0        757.0      57
May                  21539     845.0        917.0      72
November             11488     279.0        324.0      45
October              20279     703.0        765.0      62
September            19681     598.0        685.0      87

**Q4** Try changing the code above to calculate the mean, max, and min for the above data.

In [30]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].mean()

                      adults  children  little_ones    babies
arrival_date_month
April               1.876274  0.102895     0.107674  0.004780
August              2.002955  0.200389     0.214517  0.014124
December            1.826254  0.108555     0.120059  0.011504
February            1.791026  0.097918     0.105231  0.007313
January             1.690673  0.076235     0.084331  0.008096
July                1.987521  0.183398     0.192955  0.009557
June                1.860591  0.096627     0.103117  0.006491
March               1.804676  0.071472     0.077292  0.005820
May                 1.826732  0.071665     0.077771  0.006106
November            1.690904  0.041066     0.047689  0.006623
October             1.817115  0.062993     0.068548  0.005556
September           1.872954  0.056909     0.065188  0.008279

In [31]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].max()

                    adults  children  little_ones  babies
arrival_date_month
April                    4       3.0          3.0       1
August                   4       3.0          3.0       2
December                 4       3.0          3.0       2
February                 4       3.0          3.0       2
January                  3       3.0         10.0      10
July                     4      10.0         10.0       2
June                     4       3.0          3.0       2
March                    4       3.0          3.0       2
May                      4       3.0          3.0       1
November                 4       3.0          3.0       2
October                 55       3.0          9.0       9
September               50       2.0          2.0       2

In [32]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].min()

                    adults  children  little_ones  babies
arrival_date_month
April                    0       0.0          0.0       0
August                   0       0.0          0.0       0
December                 0       0.0          0.0       0
February                 0       0.0          0.0       0
January                  0       0.0          0.0       0
July                     0       0.0          0.0       0
June                     0       0.0          0.0       0
March                    0       0.0          0.0       0
May                      0       0.0          0.0       0
November                 0       0.0          0.0       0
October                  0       0.0          0.0       0
September                0       0.0          0.0       0

In [33]:

DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].describe()

                     adults                                                \
                      count      mean       std  min  25%  50%  75%   max
arrival_date_month
April               11089.0  1.876274  0.475239  0.0  2.0  2.0  2.0   4.0
August              13877.0  2.002955  0.441021  0.0  2.0  2.0  2.0   4.0
December             6780.0  1.826254  0.503319  0.0  2.0  2.0  2.0   4.0
February             8068.0  1.791026  0.511873  0.0  2.0  2.0  2.0   4.0
January              5929.0  1.690673  0.540014  0.0  1.0  2.0  2.0   3.0
July                12661.0  1.987521  0.463010  0.0  2.0  2.0  2.0   4.0
June                10939.0  1.860591  0.479265  0.0  2.0  2.0  2.0   4.0
March                9794.0  1.804676  0.507610  0.0  2.0  2.0  2.0   4.0
May                 11791.0  1.826732  0.477928  0.0  2.0  2.0  2.0   4.0
November             6794.0  1.690904  0.509139  0.0  1.0  2.0  2.0   4.0
October             11160.0  1.817115  0.775310  0.0  2.0  2.0  2.0  55.0
September           10508.0  1.872954  0.946830  0.0  2.0  2.0  2.0  50.0

                   children            ... little_ones         babies  \
                      count      mean  ...         75%   max    count
arrival_date_month                     ...
April               11089.0  0.102895  ...         0.0   3.0  11089.0
August              13873.0  0.200389  ...         0.0   3.0  13877.0
December             6780.0  0.108555  ...         0.0   3.0   6780.0
February             8068.0  0.097918  ...         0.0   3.0   8068.0
January              5929.0  0.076235  ...         0.0  10.0   5929.0
July                12661.0  0.183398  ...         0.0  10.0  12661.0
June                10939.0  0.096627  ...         0.0   3.0  10939.0
March                9794.0  0.071472  ...         0.0   3.0   9794.0
May                 11791.0  0.071665  ...         0.0   3.0  11791.0
November             6794.0  0.041066  ...         0.0   3.0   6794.0
October             11160.0  0.062993  ...         0.0   9.0  11160.0
September           10508.0  0.056909  ...         0.0   2.0  10508.0


                        mean       std  min  25%  50%  75%   max
arrival_date_month
April               0.004780  0.068972  0.0  0.0  0.0  0.0   1.0
August              0.014124  0.118616  0.0  0.0  0.0  0.0   2.0
December            0.011504  0.108022  0.0  0.0  0.0  0.0   2.0
February            0.007313  0.089465  0.0  0.0  0.0  0.0   2.0
January             0.008096  0.153464  0.0  0.0  0.0  0.0  10.0
July                0.009557  0.098905  0.0  0.0  0.0  0.0   2.0
June                0.006491  0.082551  0.0  0.0  0.0  0.0   2.0
March               0.005820  0.077400  0.0  0.0  0.0  0.0   2.0
May                 0.006106  0.077908  0.0  0.0  0.0  0.0   1.0
November            0.006623  0.082916  0.0  0.0  0.0  0.0   2.0
October             0.005556  0.109441  0.0  0.0  0.0  0.0   9.0
September           0.008279  0.093716  0.0  0.0  0.0  0.0   2.0

[12 rows x 32 columns]

# Exercises:

## Our first big-ish problem:

Now you will try to use our hotels data set to answer some questions! You will need to use the tools we have learned so far to look into the data and try to answer the questions. Really try to answer the questions with as few hints as possible!

### IF YOU USE MY ANSWER - avoid plagiarism

To avoid plagiarism, if you end up copying my answer and using it, YOU MUST explain clearly what each part of the code is doing. It's okay to need to use my code at this point, but it is not helpful to your learning to blindly copy and paste without trying to understand.

**Hints and Answers can be found in the lecture notes!**

### Exercise 1

Are people traveling on a whim?

How could you find out?

Try creating a mask filtering for hotel bookings where the guest is **not** from the US (`country` code `"USA"`) and the `lead_time` is less than 1 day.

What proportion of people traveled last minute?

In [84]:
# Your code here
mask = (DF_raw_hotels['country'] != 'USA') & (DF_raw_hotels['lead_time'] < 1)
# Number of whim travelers
print (len(DF_raw_hotels[mask]))
# Number of total travelers
print (len(DF_raw_hotels))
# Proportion of whim travelers to total
print ((len(DF_raw_hotels[mask]))/(len(DF_raw_hotels)))
# The proportion of people who traveled last minute is: 0.05171287377502303
# The percentage of people who traveled last minute is: 5.171287377502303%

6174
119390
0.05171287377502303

### Exercise 2

How many bookings involve at least 1 child **or** baby?

In [38]:
# Your code here:
mask = (DF_raw_hotels['children'] >= 1) | (DF_raw_hotels['babies'] >= 1)
print (len(DF_raw_hotels[mask]))
# 9332 bookings involve at least 1 child or baby.

9332

### Exercise 3

Do you think it's more likely to find bookings with children or babies in city hotels or resort hotels?
Test your intuition.

In [104]:
# Your code here:
# My initial guess is resort hotels.
# Sums children and babies in separate column 'little_ones'
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
# Sums data for all variables under little_ones, divided into groups based on hotel type
results = DF_raw_hotels.groupby('hotel')[['little_ones']].sum()
results
# It is more likely to find bookings with children or babies in city hotels.

# How to locate specific values in the dataframe.
# results['little_ones'].iloc[0]
# results['little_ones'].loc['City Hotel']

              little_ones
hotel
City Hotel         7640.0
Resort Hotel       5712.0

### Exercise 4

Create a frequency table of the number of `adults` in a booking.
Display the results in descending order so the most common observation is on top.
What is the most common number of adults in bookings in this dataset?
Are there any surprising results?

In [126]:
# Your code here:
DF_raw_hotels['adults'].value_counts()
# The most common number of adults in bookings in the dataset is 2 adults.
# I was surprised to see that there was an option for 0 adults.

adults
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: count, dtype: int64

In [116]:
mask = DF_raw_hotels['adults'] == 55
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,little_ones,humans
2173,Resort Hotel,1,338,2015,October,41,4,2,0,55,...,NaN,0,Group,0.0,0,0,Canceled,2015-01-02,0.0,55.0

### Exercise 5

Repeat Exercise 5, once for canceled bookings (`is_canceled` coded as 1) and once for not canceled bookings (`is_canceled` coded as 0).
What does this reveal about the surprising results you spotted in the previous exercise?

In [128]:
# Your code here:
DF_raw_hotels['is_canceled'].value_counts()
# Having canceled bookings means that it is possible for there to be 0 adults, as they may have canceled prior to selecting the number of people.

is_canceled
0    75166
1    44224
Name: count, dtype: int64

### Exercise 6

Calculate minimum, mean, median, and maximum average daily rate (column labeled 'adr') grouped by `hotel` type so that you can get these statistics separately for resort and city hotels. (Hint - try using .describe() after doing group by)

Which type of hotel is higher, on average?

In [138]:
# Your code here:
DF_raw_hotels.groupby('hotel')['adr'].describe()

                count        mean        std   min   25%   50%    75%     max
hotel
City Hotel    79330.0  105.304465  43.602954  0.00  79.2  99.9  126.0  5400.0
Resort Hotel  40060.0   94.952930  61.442418 -6.38  50.0  75.0  125.0   508.0

### Exercise 7

We observe two unusual values in the summary statistics above -- a negative minimum, and a very high maximum).
What types of hotels are these?

Locate these observations in the data set and find out the arrival date (year and month) as well as how many people (adults, children, and babies) stayed in the room.

You can investigate the data by showing the data frame to locate these values, but preferably you should identify them in a reproducible way with some code.

In [49]:
# Your code here: 
# There is a negative minimum for the Resort Hotel data. It's arrival date is March 2017. 2 adults, no children, and no babies stayed in the room.
# There is a very high maximum for the City Hotel data. It's arrival date is March 2016. 2 adults, no children, and no babies stayed in the room.

In [136]:
min = DF_raw_hotels['adr'].min()
max = DF_raw_hotels['adr'].max()
mask = (DF_raw_hotels['adr'] == min) | (DF_raw_hotels['adr'] == max)
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,little_ones,humans
14969,Resort Hotel,0,195,2017,March,10,5,4,6,2,...,NaN,0,Transient-Party,-6.38,0,0,Check-Out,2017-03-15,0.0,2.0
48515,City Hotel,1,35,2016,March,13,25,0,1,2,...,NaN,0,Transient,5400.00,0,0,Canceled,2016-02-19,0.0,2.0

In [134]:
show(DF_raw_hotels.sort_values('adr'))